<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados da Série</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="series">
    <ion-card-header>
      <img
        *ngIf="series.poster_path"
        src="https://www.themoviedb.org/t/p/w500/{{series.poster_path}}"
      />
      <ion-icon *ngIf="!series.poster_path" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1>
        {{series.original_name}} -
        <ion-chip color="success">{{series.vote_average}}%</ion-chip>
      </h1>
      <p>{{series.first_air_date | date: 'shortDate'}}</p>
    </ion-card-content>
    <ion-item>
      <ion-badge color="light" *ngFor="let idGenero of series.genre_ids"
        >{{generos[idGenero]}}</ion-badge
      >
    </ion-item>
  </ion-card>
</ion-content>
