<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/zduyzcjyahZtP4fGZE6789h04IM.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1> Rogai por Nós (2021) </h1>
          <p>02/04/2021 (US) - 1h 39m</p>
          <P>Terror</P>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>

    </ion-item>
  </ion-list>
</ion-content>
