<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> {{titulo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar
    (ionChange)="buscarSeries($event)"
    placeholder="Buscar"
  ></ion-searchbar>
  <ion-list *ngIf="listaBuscaSerie">
    <ion-item lines="none" *ngIf="listaBuscaSerie.results.length === 0">
      <ion-label class="ion-text-center">
        Não há séries para exibir!
      </ion-label>
    </ion-item>

    <ion-item-sliding *ngFor="let series of listaBuscaSerie.results">
      <ion-item lines="full" (click)="exibirSeries(series)">
        <ion-thumbnail slot="start">
          <img
            *ngIf="series.poster_path"
            src="https://www.themoviedb.org/t/p/w500/{{series.poster_path}}"
          />
          <ion-icon *ngIf="!series.poster_path" name="videocam-off"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <div>
            <h1>{{series.original_name}}</h1>
            <p>{{series.first_air_date | date: 'shortDate'}}</p>
            <ion-badge color="light" *ngFor="let idGenero of series.genre_ids"
              >{{generoseries[idGenero]}}</ion-badge
            >
          </div>
        </ion-label>
        <ion-chip
          [color]="series.vote_average < 5 ? 'danger' : ((series.vote_average < 7 ? 'warning' : 'success'))"
          outline
        >
          <ion-label>{{series.vote_average}}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
